- model_class = Competition
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:name)
      %th= model_class.human_attribute_name(:category)
      %th= model_class.human_attribute_name(:description)
      %th= model_class.human_attribute_name(:created_at)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @competitions.each do |competition|
      %tr
        %td= link_to competition.id, competition_path(competition)
        %td= competition.name
        %td= competition.category
        %td= competition.description
        %td=l competition.created_at
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_competition_path(competition), :class => 'btn btn-mini'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), competition_path(competition), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), new_competition_path, :class => 'btn btn-primary'
