= form_for @outing, :html => { :class => 'form-horizontal' } do |f|
  .control-group
    = f.label :course_id, :class => 'control-label'
    .controls
      = f.text_field :course_id, :class => 'text_field'
  .control-group
    = f.label :season_id, :class => 'control-label'
    .controls
      = f.text_field :season_id, :class => 'text_field'
  .control-group
    = f.label :slope, :class => 'control-label'
    .controls
      = f.text_field :slope, :class => 'text_field'
  .control-group
    = f.label :rating, :class => 'control-label'
    .controls
      = f.text_field :rating, :class => 'text_field'
  .control-group
    = f.label :played_at, :class => 'control-label'
    .controls
      = f.text_field :played_at, :class => 'text_field'
  .control-group
    = f.label :hole_1_par, :class => 'control-label'
    .controls
      = f.text_field :hole_1_par, :class => 'text_field'
  .control-group
    = f.label :hole_1_handicap, :class => 'control-label'
    .controls
      = f.text_field :hole_1_handicap, :class => 'text_field'
  .control-group
    = f.label :hole_2_par, :class => 'control-label'
    .controls
      = f.text_field :hole_2_par, :class => 'text_field'
  .control-group
    = f.label :hole_3_par, :class => 'control-label'
    .controls
      = f.text_field :hole_3_par, :class => 'text_field'
  .control-group
    = f.label :hole_4_par, :class => 'control-label'
    .controls
      = f.text_field :hole_4_par, :class => 'text_field'
  .control-group
    = f.label :hole_5_par, :class => 'control-label'
    .controls
      = f.text_field :hole_5_par, :class => 'text_field'
  .control-group
    = f.label :hole_6_par, :class => 'control-label'
    .controls
      = f.text_field :hole_6_par, :class => 'text_field'
  .control-group
    = f.label :hole_7_par, :class => 'control-label'
    .controls
      = f.text_field :hole_7_par, :class => 'text_field'
  .control-group
    = f.label :hole_8_par, :class => 'control-label'
    .controls
      = f.text_field :hole_8_par, :class => 'text_field'
  .control-group
    = f.label :hole_9_par, :class => 'control-label'
    .controls
      = f.text_field :hole_9_par, :class => 'text_field'
  .control-group
    = f.label :hole_2_handicap, :class => 'control-label'
    .controls
      = f.text_field :hole_2_handicap, :class => 'text_field'
  .control-group
    = f.label :hole_3_handicap, :class => 'control-label'
    .controls
      = f.text_field :hole_3_handicap, :class => 'text_field'
  .control-group
    = f.label :hole_4_handicap, :class => 'control-label'
    .controls
      = f.text_field :hole_4_handicap, :class => 'text_field'
  .control-group
    = f.label :hole_5_handicap, :class => 'control-label'
    .controls
      = f.text_field :hole_5_handicap, :class => 'text_field'
  .control-group
    = f.label :hole_6_handicap, :class => 'control-label'
    .controls
      = f.text_field :hole_6_handicap, :class => 'text_field'
  .control-group
    = f.label :hole_7_handicap, :class => 'control-label'
    .controls
      = f.text_field :hole_7_handicap, :class => 'text_field'
  .control-group
    = f.label :hole_8_handicap, :class => 'control-label'
    .controls
      = f.text_field :hole_8_handicap, :class => 'text_field'
  .control-group
    = f.label :hole_9_handicap, :class => 'control-label'
    .controls
      = f.text_field :hole_9_handicap, :class => 'text_field'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), outings_path, :class => 'btn'
