- model_class = Outing
.page-header
  %h1=t '.title', :default => model_class.model_name.human

%p
  %strong= model_class.human_attribute_name(:course_id) + ':'
  %br
  = @outing.course_id
%p
  %strong= model_class.human_attribute_name(:season_id) + ':'
  %br
  = @outing.season_id
%p
  %strong= model_class.human_attribute_name(:slope) + ':'
  %br
  = @outing.slope
%p
  %strong= model_class.human_attribute_name(:rating) + ':'
  %br
  = @outing.rating
%p
  %strong= model_class.human_attribute_name(:played_at) + ':'
  %br
  = @outing.played_at
%p
  %strong= model_class.human_attribute_name(:hole_1_par) + ':'
  %br
  = @outing.hole_1_par
%p
  %strong= model_class.human_attribute_name(:hole_1_handicap) + ':'
  %br
  = @outing.hole_1_handicap
%p
  %strong= model_class.human_attribute_name(:hole_2_par) + ':'
  %br
  = @outing.hole_2_par
%p
  %strong= model_class.human_attribute_name(:hole_3_par) + ':'
  %br
  = @outing.hole_3_par
%p
  %strong= model_class.human_attribute_name(:hole_4_par) + ':'
  %br
  = @outing.hole_4_par
%p
  %strong= model_class.human_attribute_name(:hole_5_par) + ':'
  %br
  = @outing.hole_5_par
%p
  %strong= model_class.human_attribute_name(:hole_6_par) + ':'
  %br
  = @outing.hole_6_par
%p
  %strong= model_class.human_attribute_name(:hole_7_par) + ':'
  %br
  = @outing.hole_7_par
%p
  %strong= model_class.human_attribute_name(:hole_8_par) + ':'
  %br
  = @outing.hole_8_par
%p
  %strong= model_class.human_attribute_name(:hole_9_par) + ':'
  %br
  = @outing.hole_9_par
%p
  %strong= model_class.human_attribute_name(:hole_2_handicap) + ':'
  %br
  = @outing.hole_2_handicap
%p
  %strong= model_class.human_attribute_name(:hole_3_handicap) + ':'
  %br
  = @outing.hole_3_handicap
%p
  %strong= model_class.human_attribute_name(:hole_4_handicap) + ':'
  %br
  = @outing.hole_4_handicap
%p
  %strong= model_class.human_attribute_name(:hole_5_handicap) + ':'
  %br
  = @outing.hole_5_handicap
%p
  %strong= model_class.human_attribute_name(:hole_6_handicap) + ':'
  %br
  = @outing.hole_6_handicap
%p
  %strong= model_class.human_attribute_name(:hole_7_handicap) + ':'
  %br
  = @outing.hole_7_handicap
%p
  %strong= model_class.human_attribute_name(:hole_8_handicap) + ':'
  %br
  = @outing.hole_8_handicap
%p
  %strong= model_class.human_attribute_name(:hole_9_handicap) + ':'
  %br
  = @outing.hole_9_handicap

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), outings_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_outing_path(@outing), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), outing_path(@outing), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
